<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>

    <title>A page in your application</title>
    <link rel="stylesheet" type="text/css"
          href="your-style-sheet.css" media="screen" />
    <script language="JavaScript" type="text/javascript"
            src="application.js"></script>

  </head>

  <body>
    <p>Test this application using:</p>
    <ul>
      <li><a href="tests-simple/tests.html" >simple test series</a></li>
      <li>
        <a href="tests-sections/tests.html" >tests organised by sections</a>
      </li>
    </ul>
    <h2>README</h2>
    <p>See text file in this directory.</p>
    <iframe src="./README" style="width:100%;display:block;height:300px;" />

  </body>
</html>

